.playerDeck{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.hudDeck{
    position: absolute;
}
.atkPreviewDeck{
    color: white;
    position: absolute;
    bottom: 19px;
    left: 15px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  .hpPreviewDeck{
    color: white;
    position: absolute;
    bottom: 19px;
    left: 164px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }

.cardInDeck0{
    max-width: 23%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    
}

.cardInDeck1 {
    max-width: 23%;
    margin-left: 10%;
    position: absolute;
    z-index: 1;
    bottom: 279px;
}
.cardInDeck2 {
    max-width: 23%;
    margin-left: 20%;
    position: absolute;
    z-index: 2;
    bottom: 559px;
}
.cardInDeck3 {
    max-width: 23%;
    margin-left: 30%;
    position: absolute;
    z-index: 3;
    bottom: 839px;
}
.cardInDeck4 {
    max-width: 23%;
    margin-left: 40%;
    position: absolute;
    z-index: 4;
    bottom: 1118px;
}
.cardInDeck5 {
    max-width: 23%;
    margin-left: 50%;
    position: absolute;
    z-index: 5;
    bottom: 1398px;
}
.cardInDeck6 {
    max-width: 23%;
    margin-left: 60%;
    position: absolute;
    z-index: 6;
    bottom: 1678px;
}

.fullCard{
    max-width: 100%;
}