.player2BoardFight{
    position: absolute;
    top: 360px;
    left: 363px;
    width: 1200px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.player2Board{
    position: absolute;
    top: 0px;
    left: 355px;
    width: 1051px;
    display: flex;
    justify-content: center;
    z-index: 1;
}