.playerHud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hudPersoPlayer {
    position: absolute;
    left: 824px;
    bottom: 64px;
    width: 325px;
    z-index: 0;
}
.orlvlimghud{
    position: absolute;
    bottom: 160px;
    right: 675px;
    z-index: 0;
}
.playerOr{
    position: absolute;
    color: white;
    bottom: 227px;
    right: 695px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    width: 60px;
}
.playerLvl{
    position: absolute;
    color: white;
    bottom: 180px;
    right: 695px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    width: 60px;
}
.hpimghud{
    position: absolute;
    bottom: 100px;
    left: 963px;
    width: 50px;
    z-index: 1;
}
.playerPv{
    position: absolute;
    color: white;
    bottom: 100px;
    right: 902px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    width: 60px;
    z-index: 1;
}